<div class="content">
  <div class="row">
    <div class="col">
      <div class="intro">
        <h2>
          Amateur photographer, food nerd <br />
          & software engineer based in Montreal, CA.
        </h2>
        <br />

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed
          tempor ipsum. Maecenas odio ipsum, imperdiet lobortis posuere eget,
          pretium a ante. Morbi ante enim, consequat at facilisis bibendum,
          ultricies at neque. Etiam tempor vehicula nisl, ullamcorper luctus
          tellus vestibulum quis. Integer leo lectus, semper non lacinia at,
          rhoncus eu mi.
        </p>
        <p>
          Praesent varius venenatis nisl in placerat. Quisque sagittis nisi
          massa, eget sodales sapien tempor nec. Suspendisse at tincidunt
          sapien. Nulla velit odio, aliquam eu elementum in, iaculis in magna.
          Morbi libero urna, sagittis et tempor sed, hendrerit eget mi. Aenean
          elementum venenatis purus at elementum.
        </p>
      </div>
    </div>
    <div class="col">
      <div class="image-banner">
        <img
          src="../../assets/images/DSCF5196-2.jpg"
        />
      </div>
    </div>
  </div>
</div>
