<div class="content">
  <div class="text">
    <h2>
      Photographer & software engineer<br />
      based in Montreal, CA.
    </h2>
    <p>
      I’m a mostly shooting street photography although my goal for the next
      year is to familiarize myself with portraits. My initial interest in
      photography came from when I bought a camera two years ago specifically
      for a trip in Iceland. Then the camera collected dust on a shelf... until
      last Fall when I decided to dive in and take photography as a serious
      hobby.
    </p>
    <p>
      When I go out to shoot I’m always craving for a good light or a good story
      to tell through my lens. Photography allows me to express my creativity in
      a way that my day job can't and it feeds my curiosity towards human
      interactions.
    </p>

    <p>
      <strong>9@5 </strong>
      I'm a software developer doing web development. I'm skilled in Javascript
      <i>—Angular, Node</i>, reactive programming <i>—RxJS</i>, databases
      <i>SQL, NoSQL</i> and HTML & CSS and I like clean code and unit
      testing. The two main reasons why I love programming so much are that it puts me
      into an environment of constant learning and that it always challenges my problem
      solving skills <i>(INTJ here 👋)</i>.
    </p>
  </div>

  <div class="image-banner">
    <img src="https://portfolio-image-lm.s3.us-east-2.amazonaws.com/pjc_2.jpg" />
  </div>
</div>
