@import "../../styles.scss";
.slideshow {
    width: 700px;
    margin: 150px auto 0;
    p {
        text-align: center;
        font-family: $primary-font;
        font-size: $content-size;
        font-weight: $light;
        margin-bottom: 25px;
    }
    .slide {
        .img {
            width: 100%;
            margin-bottom: 15px;
            cursor: pointer;
        }
        .indicators {
            width: 150px;
            flex-direction: row;
            display: flex;
            margin: 0 auto;
            justify-content: space-evenly;
        }
        .indicator {
            width: 10px;
            height: 10px;
            display: block;
            border: 1px solid $gray;
            border-radius: 10px;
            transition: 0.25s ease all;
            &.active {
                background-color: $active-color;
            }
        }
    }
}

@media screen and (max-width: $small-screen) {
    .slideshow {
        display: none;
    }
}