@import '../../../styles.scss';

.navbar {
    padding: 60px 0 0 0;

    &__element {
        display: flex;
    }

    .container-fluid {
        padding: 0;
        margin: 0;

        /* logo */
        .navbar-brand {
            margin: 0 30px 0 0;
            padding: 0;

            .title {
                font-size: 30px;
            }
        }

        /* navigation & social */
        @include media-breakpoint-down(md) {
            ::ng-deep {

                .social,
                .nav {
                    display: none;
                }
            }
        }

        /* toggle button */
        .toggle-button {
            position: relative;
            z-index: 2;
            display: none;
            width: 53px;

            @include media-breakpoint-down(md) {
                display: block;
            }
        }
    }

    @include media-breakpoint-down(md) {
        padding: 50px 0 0 0;
    }
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;

    &.open {
        background-color: $white;
        z-index: 1;
        opacity: 1;
    }

    &.closed {
        background-color: transparent;
    }

    .menu {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 30%;


        ::ng-deep {
            .nav {
                margin: 0;
                flex-direction: column;

                &__link {
                    font-size: 28px;
                    margin: 0;
                }
            }

            .social {
                margin-top: 100px;
                display: inline-block;

                &__list {
                    margin: 0;
                    padding: 0;
                }

                &__item:first-child {
                    margin-left: 0;
                }

            }
        }
    }
}