<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"
        ><h1 class="title">Lauriane Michaud</h1></a
      >
    </div>

    <button class="toggle #toggleMenu" (click)="toggle($event)">
      <div id="nav-icon2" [ngClass]="isOpen ? 'open' : ''">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Work</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</nav>
<div class="overlay" [ngClass]="isOpen ? 'open' : 'closed'">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Work</a></li>
    <li><a href="#">About</a></li>
  </ul>
</div>
