.content {
    padding: 0.5rem 2rem
}

.intro {
    max-width: 50%;
    margin-top: 150px;

    h2 {
        font-size: 42px;
    }
}

.gallery {
    margin: 100px 0;
}

.mansory-wrapper {
    margin: 0 auto;
}

.masonry-item {
    margin-bottom: 20px;
    width: 33.33%;

    img {
        width: 100%;
    }
}


@media (max-width: 991.98px) {

    .mansory-wrapper {
        margin: 0;
    }

    .masonry-item {
        margin-bottom: 20px;
        width: 50%;

        img {
            width: 100%;
        }
    }

    .content {
        padding: 0.5rem 1rem
    }
}