<div class="content">
  <div class="sort">
    <button
      type="button"
      class="btn btn-light"
      [ngClass]="selectedCategory === 'all' ? 'active' : ''"
      (click)="select('all')"
    >
      All
    </button>
    <button
      type="button"
      class="btn btn-light"
      [ngClass]="selectedCategory === 'street' ? 'active' : ''"
      (click)="select('street')"
    >
      Street Photography
    </button>
    <button
      type="button"
      class="btn btn-light"
      [ngClass]="selectedCategory === 'landscape' ? 'active' : ''"
      (click)="select('landscape')"
    >
      Landscapes
    </button>
    <button
      type="button"
      class="btn btn-light"
      [ngClass]="selectedCategory === 'outdoors' ? 'active' : ''"
      (click)="select('outdoors')"
    >
      Outdoors
    </button>
  </div>

  <div class="gallery">
    <ngx-masonry
      [options]="options"
      [useImagesLoaded]="true"
      class="mansory-wrapper"
    >
      <div
        *ngFor="let picture of masonryImages"
        class="masonry-item"
        ngxMasonryItem
      >
        <img src="{{ picture.picture }}" />
      </div>
    </ngx-masonry>
  </div>
</div>
