<div class="sort" *ngIf="sort">
  <!--button
    type="button"
    class="btn btn-light"
    [ngClass]="selectedCategory === 'all' ? 'active' : ''"
    (click)="select('all')"
  >
    All
  </button-->
  <button
    type="button"
    class="btn btn-light"
    [ngClass]="selectedCategory === 'street' ? 'active' : ''"
    (click)="select('street')"
  >
    Street
  </button>
  <button
    type="button"
    class="btn btn-light"
    [ngClass]="selectedCategory === 'people' ? 'active' : ''"
    (click)="select('people')"
  >
    People
  </button>
  <button
    type="button"
    class="btn btn-light"
    [ngClass]="selectedCategory === 'adventure' ? 'active' : ''"
    (click)="select('adventure')"
  >
    Adventure
  </button>
  <button
    type="button"
    class="btn btn-light"
    [ngClass]="selectedCategory === 'black' ? 'active' : ''"
    (click)="select('black')"
  >
    Black & White
  </button>
</div>

<div class="gallery">
  <p *ngIf="noImages" class="message">Coming soon!</p>
  <ngx-masonry
    [options]="options"
    [useImagesLoaded]="true"
    class="mansory-wrapper"
  >
    <div
      *ngFor="let picture of masonryImages"
      class="masonry-item"
      (click)="zoom($event, picture.src)"
      ngxMasonryItem
    >
      <img src="{{ picture.src }}" />
    </div>
  </ngx-masonry>
</div>

<div class="overlay" [ngClass]="isOpen ? 'open' : 'closed'" #overlay>
  <div class="overlay__background"></div>
  <div class="overlay__header">
    <app-button
      [isOpen]="true"
      (click)="zoom()"
      class="close-button"
    ></app-button>
  </div>
  <div class="overlay__image" (click)="zoom()">
    <img class="picture" *ngIf="overlayImage" [src]="overlayImage" />
  </div>
</div>
