<div class="social">
  <ul class="social__list">
    <li class="social__item">
      <a
        href="mailto:lauriane.b.michaud@gmail.com"
        class="social_link"
        target="_blank"
        ><fa-icon [icon]="icons.email"></fa-icon
      ></a>
    </li>
    <li class="social__item">
      <a
        href="https://www.instagram.com/l_michoo/"
        class="social_link"
        target="_blank"
        ><fa-icon [icon]="icons.instagram"></fa-icon
      ></a>
    </li>
    <li class="social__item">
      <a
        href="https://www.linkedin.com/in/laurianemichaud/"
        class="social_link"
        target="_blank"
        ><fa-icon [icon]="icons.linkedin"></fa-icon
      ></a>
    </li>
    <li class="social__item">
      <a href="https://github.com/lmicho/" class="social_link" target="_blank"
        ><fa-icon [icon]="icons.github"></fa-icon
      ></a>
    </li>
  </ul>
</div>
