/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "node_modules/bootstrap/scss/functions.scss";
@import "node_modules/bootstrap/scss/variables.scss";
@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss";


/* variables */
$primary-font : "acumin-pro",
sans-serif;
$secondary-font: "Poppins",
sans-serif;
$primary-color:#2d2d2d;
$secondary-color:#757575;
$white: #fff;

h1,
h2,
h3,
li,
a {
    font-family: $primary-font;
    color: $primary-color
}

p {
    font-family: $secondary-font;
    color: $primary-color
}

.locked {
    overflow: hidden;
}

svg {
    color: $primary-color;
}

svg:hover {
    color: $secondary-color;
}