<div class="container">
    <div class="heading">
        <h1 class="h1">Hello! I’m Lauriane Michaud.</h1>
        <p class="subtext">I’m a fullstack developer based in Montreal. I like clean code and web development.
        </p>
    </div>
    <div class="bottom">
        <div class="infos">
            <div class="info">
                <h3 class="title">Network</h3>
                <ul class="content">
                    <li><a href="mailto:lauriane.b.michaud@gmail.com">Email</a></li>
                    <li><a href="https://www.linkedin.com/in/laurianemichaud/" target="_blank">LinkedIn</a></li>
                    <li><a href="https://github.com/lmicho/" target="_blank">GitHub</a></li>
                    <li><a href="https://www.instagram.com/l_michoo/" target="_blank">Instagram</a></li>
                </ul>
            </div>
            <div class="info">
                <h3 class="title">Skills</h3>
                <ul class="content">
                    <li>Javascript</li>
                    <li>Angular</li>
                    <li>Node</li>
                    <li>React</li>
                </ul>
            </div>
            <div class="info">
                <h3 class="title">Experience</h3>
                <ul class="content">
                    <li><a href="https://www.nurun.com/en/" target="_blank">Nurun</a></li>
                    <li><a href="http://www.lead-web.com/" target="_blank">Leadweb</a></li>
                    <li><a href="https://www.hec.ca/en/" target="_blank">HEC</a></li>
                    <li><a href="http://www.videotron.com/residential" target="_blank">Vidéotron</a></li>
                </ul>
            </div>
        </div>
        <a href="../../assets/cv_en.pdf" class="cta-download" target="_blank">Download Resume</a>
    </div>
</div>